[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-cors = "*"
sqlalchemy-utils = "*"
"psycopg2" = "*"
testing-postgresql = "*"
python-dotenv = "*"
connexion = "*"

[dev-packages]
pylint = "*"
mypi = "*"
pytest = "*"
black = "==18.9b0"
coverage = "*"

[requires]
python_version = "3.7"
